<h1>SelectionAndCaretService</h1>

<br><br>
<h2>Methods</h2>
async getSelectionAsync() <br>
getSelection()<br>
getCaretPosition()<br>
getCaretIndex(editableDiv:HTMLElement) <br>
getCaretRange()<br>
getSelectionText()<br>
getSelectionParts(element:any, selection:any, range:any)<br>
getCaretInfo(editableDiv:HTMLElement)<br>
insertAfterElement(content:any, newNode:any, referenceNode:any) <br>
replaceElement(content:any, newNode:any, referenceNode:any)<br>
insertAfterSelection(newNode:any, caretInfo:any) <br>