<ng-container *ngIf="curFilters.length>0">
    <button [matTooltipDisabled]="!enableToolTips"
    matTooltip="{{translateTag+'tooltips.clearFilter' | translate}}"
    mat-icon-button [matMenuTriggerFor]="filtersMenue"
    [matBadge]="curFilters.length" [matBadgeColor]="badgeColor"
    matBadgeSize="small" [disabled]="disabled" style="margin-right:10px;">
    <span class="material-icons-outlined bn-mat-icon-fix">
        filter_alt
        </span>
    </button>

    <mat-menu #filtersMenue="matMenu" color="accent">
        <ng-container *ngFor="let filter of curFilters; let i = index">
            <button (click)="clearFilter(filter.clear)" mat-menu-item>
                <i [class]="filter.icon ?  filter.icon +' bn-button-fa':  'fa fa-times fa-fw bn-button-fa'" aria-hidden="true"></i> {{translateTag+filter.label | translate}}
            </button>
        </ng-container>
        <button *ngIf="curFilters.length > 1" (click)="clearAll()" mat-menu-item>
            <i class="fa fa-times fa-fw bn-button-fa" aria-hidden="true"></i> {{translateTag+'clearAll' | translate}}
        </button>
    </mat-menu>
</ng-container>